
/lib/craftbukkit-0.0.1-SNAPSHOT.jar
/lib/Permissions.jar
/nbproject/private
/build
/dist
/lib/GroupManager.jar
/nbproject/pmd.settings
/lib/craftbukkit-1.0.0-SNAPSHOT.jar
/lib/craftbukkit-1.0.1-R1.jar